{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
  <title>bananotes</title>
</head>

<body class="bg-gray-200 h-screen m-0">


  <!-- Navigation bar -->
  <nav class="px-6 h-24px flex items-center justify-between">
      <span>bananotes</span>

      <button 
         onclick="takeANote();"
         class="px-6 py-2 bg-yellow-200 rounded-2xl border border-yellow-300">
        + New
      </button>
  </nav>
  <!-- !Navigation bar -->


  <!-- Main container -->
  <div class="flex min-height: (calc(100vh-24px))">

    <!-- Sidebar -->
    <div class="w-1/6 p-4 bg-white rounded-2xl">
      <nav>
        <ul>
          <li><a href="#">Notes</a></li>
          <li><a href="">Edit labels</a></li>
          <li><a href="">Archive</a></li>
          <li><a href="">Bin</a></li>
        </ul>
      </nav>
    </div>
    <!-- !Sidebar -->


    <!-- Main Content -->
    <div class="flex-1 border-2 p-4 bg-white rounded-2xl">
      <section class="flex justify-center">
        {% block main_screen %}{% endblock %}
      </section>
    </div>
    <!-- !Main Content -->

  </div>
  <!-- !Main container-->

  <script src="{% static 'scripts/index.js' %}"></script>

</body>

</html>
